body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign {
    position: absolute;
    bottom: 20px;
    left: 20px;
}