body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.greetings{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.sign {
    position: relative;
}